/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
// .accordion {}

.accordion__item + .accordion__item {
  margin-top: 2px;
}
.accordion__item_heading {
  position: relative;
  z-index: 1;
}

.accordion__button {
  border-radius: 0.5rem;
  background-color: var(--blue-500);
  color: var(--white);
  cursor: pointer;
  padding: 0 1rem 0 0;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.accordion__button[aria-expanded="true"] {
  background-color: #194f8f;
}

.accordion__button:hover {
  background-color: #194f8f;
}

.accordion__button:after {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  align-self: center;
}

.accordion__button[aria-expanded="true"]::after,
.accordion__button[aria-selected="true"]::after {
  transform: rotate(45deg);
  margin-top: -8px;
}

// [hidden] {
//   display: none;
// }

.accordion__panel {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  margin-top: -0.5rem;

  background-color: #fafcff;
  border: 1px solid #b1d5ff;
  margin-bottom: 5px;
  border-radius: 0 0 0.5rem 0.5rem;

  color: var(--gray-600);
  z-index: 0;

  animation: fadein 0.35s ease-in;
  
  ul li {
    font-size: 1.1rem;
    margin-left: 20px;
  }

  ul li + li {
    margin-top: 8px;
  }

  p {
    font-size: 1.1rem;
  }
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.iconLeft {
  display: flex;
  align-items: center;

  div {
    background-color: #00000050;
    display: flex;
    align-items: center;

    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.8rem 1rem;
    margin-right: 1rem;

    svg {
      color: var(--white);
      font-size: 1.6rem;
    }
  }

  p {
    font-size: 1.2rem;
  }
}
