.container {
  width: 100%;
  min-width: 100px;
  color: var(--white);
  padding: 0.6rem 0.6rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  background-color: var(--blue-500);

  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--blue-600);
    color: var(--white)
  }

  &:active {
    transform: translateY(3px);
  }

  svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-left: 0.8rem;
  }
}
